%p Sorry, your search did not return any results. Please revise your search or follow some of these suggestions to find what you're looking for.
%ul
  %li Check the spelling of your keywords
  %li Try other keywords
  %li Try more general keywords and use the category and sort features to narrow your results
%hr/
%p.try-again Search again?
%input{:type=>:text}
%input{:type=>:submit, :value=>'Search'}
  